<footer>
  <div>
    <i class="fas fa-bolt"></i>
    <p>Dashboard</p>
  </div>
  <div class="active">
    <i class="fas fa-list-ul"></i>
    <p>Orders</p>
  </div>
  <div>
    <i class="fas fa-tags"></i>
    <p>Products</p>
  </div>
  <div>
    <i class="fas fa-bullseye"></i>
    <p>Stock Take</p>
  </div>
  <div>
    <i class="far fa-comment"></i>
    <p>Help</p>
  </div>
</footer>
