<footer>
  <div>
    <i class="fal fa-bolt"></i>
    <p>Dashboard</p>
  </div>
  <div class="active">
    <i class="far fa-list-ul"></i>
    <p>Orders</p>
  </div>
  <div>
    <i class="fal fa-tags"></i>
    <p>Products</p>
  </div>
  <div>
    <i class="far fa-bullseye"></i>
    <p>Stock Take</p>
  </div>
  <div>
    <i class="fal fa-comment"></i>
    <p>Help</p>
  </div>
</footer>
