<header>
  <div>
    <% if action_name == 'index'  %>
      <i class="fas fa-filter"></i>
    <% elsif action_name == 'show' %>
      <%= link_to root_path do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if action_name == 'index' %>
      <h6>Orders</h6>
    <% elsif action_name == 'show' %>
      <h6>Pick List - <%= @order.order_ref %></h6>
    <% end %>
  </div>
  <div>
    <i class="fas fa-ellipsis-h"></i>
  </div>
</header>
