<ul id="orders">
  <% @orders.each do |order| %>
    <li>
      <div class="flex-row">

        <i class="fas fa-phone"></i>

        <div>
          <p class="light-text small">#order-ref#</p>
          <p class="medium"><%= order.customer_name %></p>
          <p class="small">#price#</p>
        </div>

      </div>
      <div>
        <div class="text-center">
          <%= link_to order_path(order), class: 'medium' do %>
            <p>Pick</p>
            <i class="fas fa-box-open"></i>
          <% end %>
        </div>
      </div>

    </li>
  <% end %>
</ul>
